body {
  background-color: grey;
}

.player {
  margin: auto;
  width: 18rem;
  background-color: white;
  margin-bottom: 10px;
}
.listSongs {
  width: 500px;
  margin: auto;
}

.looop:hover {
  cursor: pointer;
  color: blue;
}
.btnPlay {
  cursor: pointer;
}
.btnPlay:hover {
  opacity: 0.6;
}